@page "/allUsers"
@using StoreLogin.Shared
@using Microsoft.Extensions.Configuration
@inject PublicApiService publicApi
@inject NavigationManager NavigationManager
@inject IConfiguration config
<h3>Site Users</h3>


<div class="container">
   
</div>
<br />


@code {
    private string UsernameField;
    private string PasswordField;


    //private async Task RefreshProjectsAsync(bool Response)
    //{

    //}

}