@page "/allUsers/{Key:int}"
@using StoreLogin.Shared
@using Microsoft.Extensions.Configuration
@inject PublicApiService publicApi
@inject NavigationManager NavigationManager
@inject IConfiguration config
<h3>Site Users</h3>


<div>
    @foreach (var u in user)
    {
        <br />
        <label><a class="lists">@u.Username</a></label>
        <label><a class="lists">@u.GameCredit</a></label>
    }
</div>


@code {
    [Parameter]
    public int Key { get; set; }

    private IEnumerable<UserDTO> user = new List<UserDTO>();

    protected override async Task OnInitializedAsync()
    {
        if(Key == 0)
        {
            NavigationManager.NavigateTo("/alogin", true);
        }
        else
        {
            user = await publicApi.GetUsersAsync();
        }
    }
}