@page "/"
@using StoreLogin.Shared
@inject PublicApiService publicApi
<h3>LoginPage</h3>


<div class="container">
    <label for="uname"><b>Username</b></label>
    <textarea @bind="UsernameField"></textarea>

    <label for="psw"><b>Password</b></label>
    <textarea @bind="PasswordField"></textarea>

    <button type="submit" @onclick="LoginValidation">Login</button>
</div>
<br />
<h1>@ResponseMessage</h1>

@code {
    private string UsernameField;
    private string PasswordField;
    private bool Resposne;
    public string ResponseMessage;

    private async Task LoginValidation()
    {
        if (System.Text.ASCIIEncoding.Unicode.GetByteCount(UsernameField) < 1000 && System.Text.ASCIIEncoding.Unicode.GetByteCount(PasswordField) < 1000)
        {
            var taintedUser = new TaintedUserModel()
            {
                Username = UsernameField,
                Password = PasswordField
            };
            Resposne = await publicApi.ValidateLogin(taintedUser);
            await RefreshProjectsAsync(Resposne);
        }
        else
        {

        }
    }

    private async Task RefreshProjectsAsync(bool Respone)
    {
        if (Resposne)
        {
            ResponseMessage = "You made it in!";
        }
        else
        {
            ResponseMessage = "Are you trying to hack me?";
        }
    }

}