@page "/"
@inject TheStoreLoginFrontEnd.PublicApiService projectApi
@using StoreLogin.Shared
<h3>SlotMachinePage</h3>
<div>Total Credits: <h4>@userSnapshot.gameCredit</h4></div>

<button type="submit" @onclick="() => SlotMachine(1)">Bet $1</button>
<button type="submit" @onclick="() => SlotMachine(10)">Bet $10</button>
<button type="submit" @onclick="() => SlotMachine(100)">Bet $100</button>
<br />
<span>@numOne</span>
<span>@numTwo</span>
<span>@numThree</span>
<br />
<button type="submit" @onclick="() => Cashout()">Cashout</button>

@code {
    private UserSnapshot userSnapshot = new UserSnapshot("Username") {gameCredit = 1500 };
    private readonly Random _random = new Random();
    int numOne = 0;
    int numTwo = 0;
    int numThree = 0;
    public void SlotMachine(int bet)
    {
        numOne = _random.Next(0, 9);
        numTwo = _random.Next(0, 9);
        numThree = _random.Next(0, 9);

        if (numOne == numTwo && numOne == numThree)
        {
            userSnapshot.gameCredit += CalculateWinnings(bet);
        }
        else
        {
            userSnapshot.gameCredit -= bet;
        }
    }

    public int CalculateWinnings(int bet)
    {
        int winnings = bet * 50;
        return winnings;
    }

    public void Cashout()
    {
        //send this back through login to update datebase
    }

}
