@page "/temppage"
@using StoreLogin.Shared
@inject PublicApiService publicApi
@inject HttpClient http

<h3>Registration of admin</h3>

<label for="uname"><b>Username</b></label>
<textarea @bind="UsernameField"></textarea>

<label for="psw"><b>Password</b></label>
<textarea @bind="PasswordField"></textarea>

<label for="psw"><b>Email</b></label>
<textarea @bind="EmailField"></textarea>

<button type="submit" @onclick="RegistrationValidation">Login</button>
<br />
<text style="color:red;">@ResponseMessage</text>


@code {
    private string UsernameField;
    private string PasswordField;
    private string EmailField;
    private bool Response;
    public string ResponseMessage;

    private async Task RegistrationValidation()
    {
        if (System.Text.ASCIIEncoding.Unicode.GetByteCount(UsernameField) < 1000 && System.Text.ASCIIEncoding.Unicode.GetByteCount(PasswordField) < 1000)
        {
            var taintedUser = new TaintedUserModel()
            {
                Username = UsernameField,
                Password = PasswordField,
                Email = EmailField
            };
            Response = await publicApi.AdminRegistration(taintedUser);
            await RefreshProjectsAsync(Response);
        }
        else
        {

        }
    }
    private async Task RefreshProjectsAsync(bool Response)
    {
        if (Response)
        {
            ResponseMessage = "Registration Successful";
        }
        else
        {
            ResponseMessage = "Invalid Username or Password";
        }
    }
}
